@font-face {
    font-family: 'Sheeping Cats';
    src: url('/includes/Sheeping_Cats.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Lexend", sans-serif;
    // For the footer sticky
    min-height: 100vh;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 200px;
}

.hidden {
    display: none;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.smallText {
    font-size: small;
}

.mediumText {
    font-size: medium;
}

.largeText {
    font-size: large;
}

#sub-but {
    align-items: center;
    background-color: #f43e3e;
    border-radius: 1.875rem;
    color: #f2f2f2;
    display: flex;
    height: 2.813rem;
    justify-content: center;
    text-decoration: none;
    width: 10.313rem;
}