body {
    font-family: "Lexend", sans-serif;
}

.hidden {
    display: none;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.smallText {
    font-size: small;
}

.mediumText {
    font-size: medium;
}

.largeText {
    font-size: large;
}