/* Homepage Starts */

/* Grid starts */

@media screen and (min-width: 1000px) {

    .header,
    .main-content > *,
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 7.5px;
        align-items: center;
        justify-content: center;
    }

    /* Grid Ends */

    /* Header Starts */

    .logo {
        grid-column: 1 / span 1;
        width: 350px;
        max-width: 350px;
    }

    .logo-nav {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .logo-nav a {
        display: grid;
    }

    .main-navigation {
        grid-column: 2 / span 1;
        justify-self: end;
        display: flex;
        margin-left: 1.3em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        margin: 10px;
        padding: 16px;
    }

    .menu li a {
        color: #333;
        text-decoration: none;
        font-size: 2rem;
        padding: 0.5em;
    }

    .menu li a:hover {
        color: #F43E3E;
    }

    /* Header Ends */

    /* Hero Starts */

    .hero-video-container {
        display: flex;
    }

    /* Hero Ends */

    /* Main Starts */

    .mission {
        grid-column: 1 / span 9;
    }

    .mission p {
        font-size: 1.25rem;
        width: 42%;
    }

    .bullying-stats {
        grid-column: 1 / span 9;
        padding: 11em 1.9em 3em 0.9em;
    }

    .general-stats,
    .motto {
        grid-column: 1 / span 9;
        display: flex;
        padding: 5.625rem 9.25rem;
    }

    .motto {
        padding: 3.125em 1.3em 4em 0;
    }

    .motto p {
        font-size: 1.875rem;
    }

    .bullying-stats h4 {
        font-size: 5rem;
    }

    .bullying-stats p {
        font-size: 1.25rem;
        width: 18.5rem;
        padding-top: 1.875rem;
    }

    .section-divider {
        grid-column: 1 / span 9;
        padding: 1.25em 5em 0 4em;
    }

    .section-divider h3 {
        font-size: 4.688rem;
    }

    .section-divider-2 {
        grid-column: 1 / span 9;
    }

    .call-to-action {
        grid-column: 1 / span 9;
        padding: 6em 2.5em 2em 1.9em;
    }

    .call-to-action ul {
        padding: 1.25em 6em 2em 5.4em;
    }

    .stat {
        width: 100%;
    }

    .general-stats h4 {
        font-size: 5rem;
    }

    .general-stats p {
        font-size: 1.25rem;
        padding-top: 1.875rem;
    }

    .call-to-action h3 {
        font-size: 2rem;
    }

    .call-to-action li {
        margin-bottom: 0.625rem;
        padding: 4.375rem;
    }

    .call-to-action li a {
        font-size: 1.25rem;
        width: 13.75rem;
        height: 3.125rem;
    }

    /* Main Ends */

    /* Footer Starts */

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
    }

    .footer-logo {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .footer-logo img {
        width: 350px;
        max-width: 350px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        margin-top: 25px;
        margin-left: 40px;
    }

    .social-media {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: end;
        margin-right: 6em;
        margin-top: 8.5em;
    }

    .footer-links-heading {
        color: #F43E3E;
        font-size: 20px;
    }

    .footer-nav-list {
        list-style: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-nav-list li {
        margin-bottom: 20px;
    }

    .footer-nav-list li a {
        text-decoration: none;
        color: #343434;
    }

    .footer-nav-list li a:hover {
        color: #F43E3E;
    }

    /* Footer Ends */

    /* Homepage Ends */

    /* How You Can Help Page Starts */

    /* How You Can Help Page Ends */

    /* About Us Page Starts */

    /* About Us Page Ends */

    /* Blog Page Starts */

    /* Blog Page Ends */

    /* Contact Page Starts */

    /* Main Starts */

    #mail-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #343434;
        grid-column: 1 / -1;
    }

    .form-heading {
        font-size: 2.4rem;
        color: #fff;
        padding-top: 7.25rem;
        padding-bottom: 2.5rem
    }

    label {
        color: #FFF;
        padding: 0.625rem;
    }

    input {
        width: 25rem;
        height: 2.5rem;
    }

    textarea {
        width: 25rem;
        height: 10rem;
    }

    .wrapper {
        border-radius: 2.125rem;
        padding-bottom: 9.5rem;
        padding-top: 1.875rem;
    }

    .submit {
        border-radius: 1.875rem;
        width: 12.5rem;
        height: 3.75rem;
        color: #FFF;
        background-color: #F43E3E;
        font-size: 1.875rem;
        font-weight: bold;
    }

    /* Main Ends */

    /* Contact Page Ends */
}