/* Homepage Starts */

@media screen and (min-width: 1000px) {

    /* Header Starts */

    .header-logo-wrapper {
        img {
            max-width: 21.875rem;
            width: 21.875rem;
        }
    }

    .logo-nav {
        align-items: center;
        justify-content: center;
    }

    .main-navigation {
        display: flex;
        justify-self: end;
        margin-right: 1.3rem;
    }

    .menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0.625rem;
            padding: 1rem;
        }

        a {
            font-size: $font-size-large;
            padding: 0.5rem;
            text-decoration: none;
        }
    }

    .menu {
        li {
            a:hover {
                color: $secondary-color;
            }
        }
    }

    /* Header Ends */

    /* Hero Starts */

    .video-wrapper {
        display: flex;
        justify-content: center;
    }

    .hero-video-container {
        video {
            height: auto;
            max-width: 100%;
            width: 50%;
        }
    }

    /* Hero Ends */

    /* Main Starts */

    .mission {
        p {
            font-size: $font-size-small-2;
            width: 42%;
        }
    }

    .bullying-stats {
        padding: 11rem 1.9rem 3rem 0.9rem;
    }

    .general-stats,
    .motto {
        display: flex;
        padding: 5.625rem 9.25rem;
    }

    .motto {
        padding: 3.125rem 1.3rem 4rem 0;
    }

    .motto {
        p {
            font-size: $font-size-medium-2;
        }
    }

    .bullying-stats {
        h4 {
            font-size: $font-size-xl-2;
        }
    }

    .bullying-stats {
        p {
            font-size: $font-size-small-2;
            padding-top: 1.875rem;
            width: 18.5rem;
        }
    }

    .section-divider {
        padding: 1.25rem 5rem 0 4rem;
    }

    .section-divider {
        h3 {
            font-size: $font-size-xl-3;
        }
    }

    .call-to-action {
        padding: 6rem 2.5rem 2rem 1.9rem;
    }

    .call-to-action {
        ul {
            padding: 1.25rem 6rem 2rem 5.4rem;
        }
    }

    .stat {
        width: 100%;
    }

    .general-stats {
        h4 {
            font-size: $font-size-xl-2;
        }
    }

    .general-stats {
        p {
            font-size: $font-size-small-2;
            padding: 1.875rem 0 0 0;
        }
    }

    .call-to-action {
        h3 {
            font-size: $font-size-large;
        }
    }

    .call-to-action {
        li {
            margin: 0 0 0.625rem 0;
            padding: 4.375rem;
        }
    }

    .call-to-action {
        li {
            a {
                font-size: $font-size-small-2;
                height: 3.125rem;
                width: 13.75rem;
            }
        }
    }

    /* Main Ends */

    /* Footer Starts */

    .footer-content {
        align-items: center;
    }

    .footer-logo-wrapper {
        img {
            max-width: 21.875rem;
            width: 21.875rem;
        }
    }

    .footer-nav {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin: 1.563rem 0 0 2.5rem;
    }

    .social-media {
        justify-self: end;
        margin: 8.5rem 6rem 0 0;
    }

    .footer-links-heading {
        font-size: $font-size-small-2;
    }

    .footer-nav-list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .footer-nav-list {
        li {
            margin: 0 0 1.25rem 0;
        }
    }

    .footer-nav {
        li {
            a:hover {
                color: $secondary-color;
                display: initial;
            }
        }
    }

    /* Footer Ends */

    /* Homepage Ends */

    /* How You Can Help Page Starts */

    .support-us {
        padding: 4rem;
    }

    .support-us-heading {
        font-size: $font-size-xl-4;
        margin: 0;
    }

    .sub-heading {
        padding: 0 0 5rem;
    }

    .get-involved-desc {
        font-size: $font-size-small;
        padding: 1.5rem 32rem;
    }

    .involved-links {
        li {
            padding: 2rem 1rem 2rem 1rem;
        }
    }

    .ways-to-donate {
        margin: 0 0 4rem;
    }

    .donation-in-person,
    .donation-online,
    .donation-over-the-phone {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 3.5rem 11rem;
    }

    /* How You Can Help Page Ends */

    /* About Us Page Starts */

    /* Main Starts */

    .about-us-header {
        padding: 4rem;
    }

    .about-us-header {
        h3 {
            font-size: $font-size-xl-4;
        }
    }

    .our-mission-statement {
        font-size: $font-size-xs-3;
    }

    .heading {
        font-size: $font-size-large;
    }

    .desc {
        font-size: $font-size-xs-3;
    }

    /* Main Ends */

    /* About Us Page Ends */

    /* Blog Page Starts */

    /* Blog Page Ends */

    /* Contact Page Starts */

    /* Main Starts */

    #mail-form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .form-heading {
        font-size: $font-size-large-3;
        padding: 7.25rem 0 2.5rem 0;
    }

    label {
        padding: 0.625rem;
    }

    input {
        height: 2.5rem;
        width: 25rem;
    }

    textarea {
        height: 10rem;
        width: 25rem;
    }

    .wrapper {
        border-radius: 2.125rem;
        padding: 1.875rem 0 9.5rem 0;
    }

    .submit {
        border-radius: 1.875rem;
        font-size: $font-size-medium-2;
        font-weight: bold;
        height: 3.75rem;
        width: 12.5rem;
    }

    /* Main Ends */

    /* Contact Page Ends */
}