@supports (grid-area: auto) {

    /*------------ Grid Items ------------*/
  
    /* Targetting all of the things on the page with this setup.
    main > * means all children of main */
      .header, .main > *, .footer {
        display: grid;
        /* Making 1fr on the left, 1fr on the right, and then the middle will be a set length that all items will go into */
        grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
      }
  
      /* This intentionally breaks the thing we just set up to be fluid */
      .fluid {
        display: grid;
        grid-column: 1 / span 4;
        grid-template-columns: 1fr;
      }
  
      /* Starts at the second column and then spans the avalable middle space */
      .one-item {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: 1fr;
      }
  
      /* The diff is the temp-columns where we tell it to repeat the 1fr thing in the middle twice (for the two items) */
      .two-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(2, 1fr);
        
        /* Decorating the items within */
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
      }
  
      /* The same as above but for three items instead */
      .three-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
        
        /* Decorating the items within */
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
      }
  
      /* The same as above but for three items instead */
      .four-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(4, 1fr);
        
        /* Decorating the items within */
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
      }
  
      /* Two items but the one on the right is larger */
      .off-set-third {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: .3fr .7fr;
        
        /* Decorating the items within */
        row-gap: 2em;
        column-gap: 2em;
      }
  
      /* Two items but the one on the left is larger */
      .third-off-set {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: .7fr .3fr;
        
        /* Decorating the items within */
        row-gap: 2em;
        column-gap: 2em;
      }
  
      /* Strictly for mobile */
      @media screen and (max-width: 47.9375em) {
  
        /*makes all the shit one item only on mobile */
        .s-one-item {
          display: grid;
          grid-column: 2 /span 2;
          grid-template-columns: 1fr !important;
        }
      }
  
      @media screen and (min-width: 48em) and (max-width: 63.98em) {
  
        /*makes all the shit one item only on mobile */
        .four-items {
          grid-template-columns: repeat(2, 1fr) !important;
        }
      }
    }