/* Mobile Starts */

@media screen and (min-width: 428px) {

    /* Grid Starts */

    .header,
    .main-content > *,
    .footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding: 0.1rem;
    }

    /* Grid Ends */

    /* Main Starts */

    .how-you-can-help-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Main Ends */

    /* Footer Starts */

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Footer Ends */
}

/* Mobile Ends */

/* Tablet Starts */

@media screen and (min-width: 768px) {

    /* Grid Starts */

    .header,
    .main-content > *,
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
        padding: 0.5rem;
    }

    /* Grid Ends */

    /* Main Starts */

    .case {
        grid-column: 1/span 3;
    }

    .mission,
    .bullying-stats,
    .general-stats,
    .motto,
    .section-divider,
    .section-divider-2,
    .call-to-action {
        grid-column: 1 / span 6;
    }

    .support-us,
    .get-involved-section,
    .our-mission,
    .team-image-wrapper,
    .our-mission-statement,
    .heading,
    .desc {
        grid-column: 1 / span 2;
    }

    .ways-to-donate {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Main Ends */

    /* Footer Starts*/

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-logo-wrapper {
        grid-column: 1 / span 2;
    }

    .footer-nav {
        grid-column: 1 / span 2;
    }

    .social-media {
        grid-column: 3;
    }

    /* Footer Ends */
}

/* Tablet Ends */

/* Desktop Starts */

@media screen and (min-width: 1000px) {

    /* Grid Starts*/

    .header,
    .main-content > *,
    .footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    /* Grid Ends */

    /* Header Starts */

    .logo-nav {
        grid-column: 1 / span 12;
    }

    /* Header Ends */

    /* Main Starts */

    .mission,
    .bullying-stats,
    .general-stats,
    .motto,
    .section-divider,
    .section-divider-2,
    .call-to-action,
    .case,
    .video-wrapper,
    .our-mission-statement,
    .desc,
    .support-us,
    .get-involved-section,
    .about-us-header,
    .our-mission {
        grid-column: 1 / span 12;
    }

    .team-image-wrapper {
        grid-column: 1 / span 8;
        grid-row: 2;
    }

    .our-mission-statement {
        grid-row: 2;
        grid-column: 8 / span 5;
    }

    .heading {
        grid-column: 1 / span 3;
    }

    #mail-form {
        grid-column: 1 / -1;
    }

    /* Main Ends */

    /* Footer Starts */

    .footer-content {
        grid-column: 1 / span 12;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-logo-wrapper {
        grid-column: 1 / span 1;
    }

    .footer-nav {
        grid-column: 2 / span 1;
    }

    .social-media {
        grid-column: 4;
    }

    /* Footer Ends */
}

/* Desktop Ends */