#hero{
    max-width: 100%;
    block-size: auto;
}
#hero img{
    max-width: 100%;
}

.mainconimg{
    max-width: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
}
.mainconimg img{
    width: 100%;
    height: auto;
}

.head {
    display: grid;
    background-color: rgb(231, 35, 35);
}

.menu {
    color: rgb(231, 35, 35)
}

.logo-nav {
    display: flex;
}

.main-navigation {
    display: flex;
    float: right;
    justify-content: flex-end;
    ul {
        padding: 1em;
    }

}