#hero{
    max-width: 100%;
    block-size: auto;
}
#hero img{
    max-width: 100%;
}

.mainconimg{
    max-width: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
}
.mainconimg img{
    width: 100%;
    height: auto;
}

.head {
    display: grid;
    background-color: rgb(242, 204, 195);
}

.menu {
    display: flex;
    flex-direction: row;
}

.logo-nav {
    display: flex;
}

.logo {
    max-width: 20vw;
    padding: .5em;
}

.main-navigation {
    display: flex;
    float: right;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;

    ul {
        padding: 1em;
    }

    li {
        margin-left: 2em;
    }

    a {
        color: rgb(231, 35, 35);
    }

}