#hero{
    max-width: 100%;
    block-size: auto;
}
#hero img{
    max-width: 100%;
}

.mainconimg{
    max-width: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
}
.mainconimg img{
    width: 100%;
    height: auto;
}
