/* Homepage Starts */

@media screen and (min-width: 320px) {

    /* Header Starts */

    .header-logo-wrapper {
        img {
            width: 7rem;
            height: auto;
        }
    }

    .menu {
        li {
            a {
                color: $button-text-color;
                font-size: $font-size-medium;
            }
        }
    }

    .logo-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    /* Header Ends */

    /* Hero Starts */

    .hero-video-container {
        video {
            height: auto;
            max-width: 100%;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    /* Hero Ends */

    /* Main Starts */

    .about-disconnected {
        background-color: $primary-color;
        margin-bottom: 2rem;
    }

    .mission,
    .general-stats,
    .motto,
    .bullying-stats {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
    }

    .mission {
        background-color: $secondary-color;
        justify-content: center;
        margin-top: 1rem;

        p {
            color: $primary-color;
            font-size: $font-size-custom;
            text-align: center;
        }
    }

    .case {
        padding: 1.25rem;
        background-color: #f2f2f2;
        margin-bottom: 1.25rem;
    }

    .case p {
        line-height: 1.5;
        margin-bottom: 0;
    }

    .general-stats,
    .motto {
        padding: 1.2rem;
    }

    .motto {
        p {
            color: $text-color;
            padding-bottom: 1rem;
            text-align: center;
        }
    }

    .bullying-stats {
        h4 {
            color: $text-color;
            font-size: $font-size-xl;
            font-weight: bold;
            text-align: center;
        }

        p {
            color: $text-color;
            font-size: $font-size-custom;
            padding-top: 1rem;
            text-align: center;
            width: 100%;
        }
    }

    .section-divider {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .section-divider {
        h3 {
            color: $text-color;
            font-size: $font-size-xl;
            margin-bottom: 1rem;
        }
    }

    .section-divider-2 {
        border: 0.25rem solid $secondary-color;
    }

    .general-stats {
        h4 {
            color: $text-color;
            font-size: $font-size-xl;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            color: $text-color;
            font-size: $font-size-custom;
            padding: 1.25rem 0 2rem;
            text-align: center;
        }
    }

    .call-to-action {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .call-to-action {
        ul {
            display: flex;
            flex-direction: column;
        }
    }

    .stat {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .call-to-action {
        h3 {
            color: $text-color;
            font-size: $font-size-small;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    .call-to-action {
        li {
            padding: 1rem 0 0.5rem;
        }

        a {
            align-items: center;
            background-color: $secondary-color;
            border-radius: 1.875rem;
            color: #f2f2f2;
            display: flex;
            height: 2.813rem;
            justify-content: center;
            text-decoration: none;
            width: 10.313rem;
        }
    }

    .popup-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: none;
    }

    .popup-box {
        background: #fff;
        max-width: 90%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        display: none;
    }

    .popup-box h2 {
        margin-top: 0;
    }

    .popup-box label {
        display: block;
        margin-bottom: 5px;
    }

    .popup-box input,
    .popup-box button {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        margin-bottom: 10px;
    }

    .popup-box input[type="submit"],
    .popup-box button[type="submit"] {
        background-color: #c52424;
        color: #fff;
        border: none;
        padding: 12px 20px;
        margin-top: 20px;
        cursor: pointer;
    }

    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


    /* Main Ends */

    /* Footer Starts */

    .footer-links-heading {
        color: $secondary-color;
        padding: 1rem 0;
    }

    .footer-logo-wrapper {
        img {
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            margin-top: 2rem;
        }
    }

    .footer-nav,
    .footer-nav-list {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.1rem;
    }

    .social-media {
        display: flex;
    }

    .footer-nav-list {
        li {
            margin-bottom: 0.5rem;
        }
    }

    .footer-nav-list {
        li {
            a {
                color: $button-text-color;
                text-decoration: none;
            }
        }
    }

    .footer-social-links {
        justify-content: center;
        margin-top: 1rem;
    }

    .footer-social-links {
        a {
            margin-right: 1rem;
        }
    }

    .social-media {
        a {
            padding: 0.313rem;
        }
    }

    /* Footer Ends */

    /* Homepage Ends */

    /* How You Can Help Page Starts */

    /* Main Starts */

    .support-us {
        background-color: $heading-color;
        padding: 0 0 1rem;
        width: 100%;
    }

    .support-us-heading {
        color: $primary-color;
        font-size: $font-size-medium;
        margin-top: 1rem;
        text-align: center;
    }

    .get-involved-section {
        margin-top: 2rem;
        width: 100%;
    }

    .main-heading {
        font-size: $font-size-medium;
        margin-top: 1rem;
        text-align: center;
    }

    .get-involved-desc {
        padding: 0.5rem;
        text-align: center;
    }

    .get-involved-links {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .get-involved-links {
        li {
            padding: 0.3rem 0;
        }
    }

    .get-involved-links {
        a {
            align-items: center;
            background-color: #f43e3e;
            border-radius: 1.875rem;
            color: #f2f2f2;
            display: flex;
            height: 2.813rem;
            justify-content: center;
            text-decoration: none;
            width: 10.313rem;
        }
    }

    .esports-section {
        margin-top: 2rem;
        width: 100%;
    }

    .esports-image-wrapper {
        img {
            max-width: 100%;
        }
    }

    .make-a-change-section {
        margin-top: 2rem;
        width: 100%;
    }

    .make-a-change-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub-heading {
        margin-top: 2rem;
        text-align: center;
    }

    .ways-to-donate {
        background-color: $secondary-color;
        margin-top: 2rem;
    }

    .donation-in-person,
    .donation-online,
    .donation-over-the-phone {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .donation-method {
        color: $primary-color;
        margin-top: 1rem;
        text-align: center;
    }

    .donation-address {
        color: $primary-color;
        font-size: $font-size-xs;
        margin-top: 0.5rem;
        text-align: center;
        width: 68.9%;
    }

    .donation-desc {
        color: $primary-color;
        font-size: $font-size-xs;
        margin-top: 0.5rem;
        text-align: center;
    }

    .donation-number {
        color: $primary-color;
        font-size: $font-size-xs;
        margin-top: 0.5rem;
        text-align: center;
    }

    .in-person-wrapper,
    .online-wrapper,
    .over-the-phone-wrapper {
        img {
            max-width: 100%;
        }
    }

    #btn {
        background-color: $text-color;
        border: none;
        border-radius: 0.313rem;
        color: $primary-color;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    /* Main Ends */

    /* How You Can Help Page Ends */

    /* About Us Page Starts */

    /* Main Starts */

    .about-us-header {
        background-color: $heading-color;
        color: $primary-color;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .about-us-header {
        h3 {
            font-size: $font-size-medium;
            text-align: center;
        }
    }

    .our-mission {
        display: flex;
        font-size: $font-size-medium;
        justify-content: center;
        padding: 2rem 0;
    }

    .team-image-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 0.625rem;
    }

    .team-image-wrapper {
        img {
            max-width: 100%;
        }
    }

    .promotional-content {
        padding: 0.625rem;
    }

    .our-mission-statement {
        margin-top: 0.5rem;
        text-align: center;
    }

    .our-mission-statement {
        padding: 0.5rem 0;
        font-size: $font-size-xs-1;
        margin-bottom: 0.5rem;
    }

    /* Main Ends */

    /* About Us Page Ends */

    /* Contact Page Starts */

    /* Main Starts */

    #mail-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    .form-heading {
        color: $text-color;
        font-size: $font-size-small;
        padding: 1.563rem 0;
    }

    label {
        color: $text-color;
        padding: 0.5rem;
    }

    input {
        border-radius: 0.313rem;
        height: 2.5rem;
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    textarea {
        border-radius: 0.313rem;
        border: 1px solid #000;
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    .wrapper {
        padding: 1.5rem 0 0 0;
    }

    .submit {
        align-items: center;
        background-color: #f43e3e;
        border-radius: 1.875rem;
        color: #f2f2f2;
        display: flex;
        height: 2.813rem;
        justify-content: center;
        text-decoration: none;
        width: 10.313rem;
    }

    .submit:hover {
        cursor: pointer;
    }

    .submit:active {
        background-color: #343434;
    }

    /* Main Ends */

    /* Contact Page Ends */

    /* Blog Page Starts */

    .forumDisplay {
        width: 100%;
        margin: 0;
    }

    #post-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    .heading {
        display: none;
    }

    .desc {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        text-align: center;
    }

    /* Blog Page Ends */
}