/* Homepage Starts */

@media screen and (min-width: 428px) {

    /* Header Starts */

    .header-logo-wrapper {
        img {
            width: 8.5rem;
            height: auto;
            font-family: 'Sheeping Cats', sans-serif;
        }
    }

    .menu {
        li {
            a {
                color: $button-text-color;
            }
        }
    }

    .logo-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    

    /* Header Ends */

    /* Hero Starts */

    .hero-video-container {
        video {
            height: auto;
            max-width: 100%;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    /* Hero Ends */

    /* Main Starts */

    .about-disconnected {
        background-color: $primary-color;
        margin-bottom: 2rem;
    }

    .mission,
    .general-stats,
    .motto,
    .bullying-stats {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .mission {
        background-color: $secondary-color;
        justify-content: center;
        margin-top: 1rem;

        p {
            color: $primary-color;
            font-size: $font-size-custom;
            text-align: center;
        }
    }

    .case {
        padding: 1.25rem;
        background-color: #f2f2f2;
        margin-bottom: 1.25rem;
    }

    .case p {
        line-height: 1.5;
        margin-bottom: 0;
    }

    .general-stats,
    .motto {
        padding: 1.2rem;
    }

    .motto {
        p {
            color: $text-color;
            padding-bottom: 1rem;
            text-align: center;
        }
    }

    .bullying-stats {
        h4 {
            color: $text-color;
            font-size: $font-size-xl;
            font-weight: bold;
            text-align: center;
        }

        p {
            color: $text-color;
            font-size: $font-size-custom;
            padding-top: 1rem;
            text-align: center;
            width: 56%;
        }
    }

    .section-divider {
        display: flex;
        justify-content: center;
        padding-bottom: 4.688rem;
    }

    .section-divider {
        h3 {
            color: $text-color;
            font-size: $font-size-xl;
            margin-bottom: 1rem;
        }
    }

    .section-divider-2 {
        border: 0.25rem solid $secondary-color;
    }

    .general-stats {
        h4 {
            color: $text-color;
            font-size: $font-size-xl;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            color: $text-color;
            font-size: $font-size-custom;
            padding: 1.25rem 0 3rem;
            text-align: center;
        }
    }

    .call-to-action {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .call-to-action {
        ul {
            display: flex;
            flex-direction: column;
        }
    }

    .stat {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }

    .call-to-action {
        h3 {
            color: $text-color;
            font-size: $font-size-small;
            margin-bottom: 1rem;
        }
    }

    .call-to-action {
        li {
            padding: 1rem 0 0.5rem;
        }

        a {
            align-items: center;
            background-color: $secondary-color;
            border-radius: 1.875rem;
            color: $button-text-color;
            display: flex;
            height: 2.813rem;
            justify-content: center;
            text-decoration: none;
            width: 10.313rem;
        }
    }


    /* Main Ends */

    /* Footer Starts */

    .footer-links-heading {
        color: $secondary-color;
        padding: 0 0 0.8rem;
    }

    .footer-logo-wrapper {
        img {
            width: 8.5rem;
            height: auto;
            margin-bottom: 1rem;
            margin-top: 2rem;
        }
    }

    .footer-nav,
    .footer-nav-list {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .social-media {
        display: flex;
    }

    .footer-nav-list {
        li {
            margin-bottom: 0.938rem;
        }
    }

    .footer-nav-list {
        li {
            a {
                color: $button-text-color;
                text-decoration: none;
            }
        }
    }

    .footer-social-links {
        justify-content: center;
        margin-top: 1rem;
    }

    .footer-social-links {
        a {
            margin-right: 1.25rem;
        }
    }

    .social-media {
        a {
            padding: 0.313rem;
        }
    }

    /* Footer Ends */

    /* Homepage Ends */

    /* How You Can Help Page Starts */

    /* Main Starts */

    .support-us {
        background-color: $heading-color;
        padding: 0 0 1rem;
        width: 100%;
    }

    .support-us-heading {
        color: $primary-color;
        font-size: $font-size-large;
        margin-top: 1rem;
        text-align: center;
    }

    .get-involved-section {
        margin-top: 2rem;
        width: 100%;
    }

    .main-heading {
        font-size: $font-size-medium;
        margin-top: 1rem;
        text-align: center;
    }

    .get-involved-desc {
        padding: 0.5rem;
        text-align: center;
    }

    .get-involved-links {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .get-involved-links {
        li {
            padding: 0.5rem 0;
        }
    }

    .get-involved-links {
        a {
            align-items: center;
            background-color: $secondary-color;
            border-radius: 1.5rem;
            color: $button-text-color;
            display: flex;
            height: 2.813rem;
            justify-content: center;
            text-decoration: none;
            width: 10.313rem;
        }
    }

    .esports-section {
        margin-top: 3rem;
        width: 100%;
    }

    .esports-image-wrapper {
        img {
            max-width: 100%;
        }
    }

    .make-a-change-section {
        margin-top: 2rem;
        width: 100%;
    }

    .make-a-change-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub-heading {
        margin-top: 2rem;
        text-align: center;
    }

    .ways-to-donate {
        background-color: $secondary-color;
        margin-top: 2rem;
    }

    .donation-in-person,
    .donation-online,
    .donation-over-the-phone {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    .donation-method {
        color: $primary-color;
        margin-top: 1rem;
        text-align: center;
    }

    .donation-address {
        color: $primary-color;
        font-size: $font-size-xs;
        margin-top: 0.5rem;
        text-align: center;
    }

    .donation-desc {
        color: $primary-color;
        font-size: $font-size-xs;
        margin-top: 0.5rem;
        text-align: center;
    }

    .donation-number {
        color: $primary-color;
        font-size: $font-size-xs;
        margin-top: 0.5rem;
        text-align: center;
    }

    .in-person-wrapper,
    .online-wrapper,
    .over-the-phone-wrapper {
        img {
            max-width: 100%;
        }
    }

    #btn {
        background-color: $text-color;
        border: none;
        border-radius: 0.313rem;
        color: $primary-color;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    /* Main Ends */

    /* How You Can Help Page Ends */

    /* About Us Page Starts */

    /* Main Starts */

    .about-us-header {
        background-color: $heading-color;
        color: $primary-color;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .about-us-header {
        h3 {
            font-size: $font-size-medium;
            text-align: center;
        }
    }

    .our-mission {
        display: flex;
        font-size: $font-size-medium;
        justify-content: center;
        padding: 2rem 0;
    }

    .team-image-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 0.625rem;
    }

    .team-image-wrapper {
        img {
            max-width: 100%;
        }
    }

    .promotional-content {
        padding: 0.625rem;
    }

    .our-mission-statement {
        margin-top: 0.5rem;
        text-align: center;
    }


    .heading {
        font-size: $font-size-small;
        margin-top: 2rem;
        text-align: center;
    }

    .desc {
        font-size: $font-size-xs;
        padding: 0.5rem 0 0 0;
        text-align: center;
    }

    /* Main Ends */

    /* About Us Page Ends */

    /* Contact Page Starts */

    /* Main Starts */

    #mail-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    .form-heading {
        color: $text-color;
        font-size: $font-size-small;
        padding: 1.563rem 0;
    }

    label {
        color: $text-color;
        padding: 0.5rem;
    }

    input {
        border-radius: 0.313rem;
        height: 2.5rem;
        width: 18.75rem;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    textarea {
        border-radius: 0.313rem;
        border: 1px solid #000;
        width: 18.75rem;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    .wrapper {
        padding: 1.5rem 0 0rem 0;
    }

    .submit {
        background-color: $secondary-color;
        border-radius: 1.875rem;
        color: $button-text-color;
        display: flex;
        font-size: $font-size-small;
        height: 2.813rem;
        justify-content: center;
        width: 10.313rem;
    }

    /* Main Ends */

    /* Contact Page Ends */
}