/* Homepage Starts */

@media screen and (min-width: 768px) {

    /* Header Starts */

    .header-logo-wrapper {
        img {
            max-width: 15.625rem;
            width: 100%;
        }
    }

    .logo-nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .main-navigation {
        display: none;
    }

    /* Header Ends */

    /* Hero Starts */

    /* Main Starts */

    .about-disconnected {
        margin-bottom: 1.25rem;
    }

    .mission {
        align-items: center;
        display: flex;
    }

    .mission {
        p {
            font-size: $font-size-small;
            width: 70%;
        }
    }

    .case p {
        font-size: 1.1rem;
    }

    .bullying-stats {
        flex-direction: row;
        margin: 0 0 0 -0.2rem;
    }

    .general-stats,
    .motto {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1.25rem;
    }

    .motto {
        p {
            font-size: $font-size-small;
            padding: 0 0 3.125rem 0;
        }
    }

    .bullying-stats {
        p {
            font-size: $font-size-small;
            padding: 1rem 1rem 0 1rem;
            width: 100%;
        }
    }

    .section-divider {
        padding: 0 0 3.75rem 0;
    }

    .section-divider {
        h3 {
            font-size: $font-size-large-2;
        }
    }

    .call-to-action {
        padding: 3rem 0 0 0;
    }

    .call-to-action {
        ul {
            flex-direction: row;
        }
    }

    .general-stats {
        p {
            font-size: $font-size-small;
        }
    }

    .call-to-action {
        h3 {
            font-size: $font-size-large;
            margin-bottom: 2rem;
        }
    }

    .call-to-action {
        li {
            padding: 2rem;
        }
    }

    /* Main Ends */

    /* Footer Starts */

    .footer-logo-wrapper {
        img {
            margin-left: 1.25rem;
            margin-bottom: 0;
        }
    }

    .footer-nav {
        align-items: flex-start;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .social-media {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
    }

    .footer-links-heading {
        padding: 0.625rem 0;
    }

    .footer-nav-list {
        align-items: flex-start;
        display: flex;
        padding: 1.25rem 0 0 0;
    }

    .footer-social-links {
        justify-content: center;
        margin-left: 2.5rem;
        margin-top: 2rem;
    }

    .footer-social-links {
        a {
            margin-right: 1.25rem;
        }
    }

    /* Footer Ends */

    /* Homepage Ends */

    /* How You Can Help Page Starts */

    /* Main Starts */

    .support-us-heading {
        font-size: $font-size-large;
    }

    .get-involved-section {
        margin-top: 4rem;
    }

    .main-heading {
        font-size: $font-size-large;
    }

    .get-involved-desc {
        font-size: $font-size-xs-2;
    }

    .get-involved-links {
        flex-direction: row;
        margin-top: 0;
    }

    .get-involved-links {
        li {
            padding: 2rem 2rem 2rem 2rem;
        }
    }

    .donation-in-person,
    .donation-online,
    .donation-over-the-phone {
        padding: 1.4rem;
    }

    .sub-heading {
        margin-top: 1rem;
    }

    /* Main Ends */

    /* How You Can Help Page Ends */

    /* About Us Page Starts */

    /* Main Starts */

    .about-us-header {
        margin-bottom: 1.5rem;
    }

    .about-us-header {
        h3 {
            font-size: $font-size-large;
        }
    }

    .our-mission {
        font-size: $font-size-large;
        margin-bottom: 1rem;
    }

    .team-image-wrapper {
        width: 100%;
    }

    .team-image-wrapper img {
        max-width: 70%;
    }

    .our-mission-statement {
        padding: 0.5rem 7rem;
        text-align: inherit;
    }

    .heading {
        font-size: $font-size-large;
        margin-bottom: 0.5rem;
    }

    .desc {
        font-size: $font-size-xs-2;
        margin-bottom: 2rem;
    }

    /* Main Ends */

    /* About Us Page Ends */

    /* Blog Page Starts */

    /* Blog Page Ends */

    /* Contact Page Starts */

    /* Main Starts */

    #mail-form {
        display: flex;
        padding: 1.25rem;
    }

    label {
        padding: 0.313rem;
    }

    .wrapper {
        padding-top: 0.5rem;
    }

    .submit {
        margin-top: 0.625rem;
    }

    /* Main Ends */

    /* Contact Page Ends */
}