/* Homepage Starts */

/* Grid starts */

@media screen and (min-width: 768px) {

    .header,
    .main-content > *,
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 5px;
    }

    /* Grid Ends */

    /* Header Starts */

    .logo {
        width: 250px;
        max-width: 250px;
    }

    .logo-nav {
        display: flex;
        align-items: center;
    }

    .main-navigation {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        margin: 5px;
        padding: 10px;
    }

    .menu li a {
        color: #333;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .menu li a:hover {
        display: none;
    }

    /* Header Ends */

    /* Hero Starts */

    /* Main Starts */

    .about-disconnected {
        margin-bottom: 20px;
    }


    .mission {
        grid-column: 1 / span 6;
    }

    .mission p {
        font-size: 1.2rem;
        width: 70%;
    }

    .bullying-stats {
        grid-column: 1 / span 6;
        display: flex;
        flex-direction: row;
        padding: 3em 0;
        margin: 0 0 0 -0.8em;
    }

    .general-stats,
    .motto {
        display: flex;
        grid-column: 1 / span 6;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 1em 0.5em 0 0.5em;
        margin-bottom: 20px;
    }

    .motto {
        grid-column: 1/span 6;
        display: flex;
        justify-content: center;
    }

    .motto p {
        font-size: 1.2rem;
        padding-bottom: 3.125rem;
    }

    .bullying-stats p {
        padding-top: 1.25rem;
        font-size: 1.2rem;
        padding: 2em 2em 0em 2em;
        width: 100%;
    }

    .section-divider {
        grid-column: 1 / span 6;
        padding-bottom: 3.75rem;
    }

    .section-divider h3 {
        font-size: 3.125rem;
    }

    .section-divider-2 {
        grid-column: 1 / span 6;
    }

    .call-to-action {
        grid-column: 1 / span 6;
        padding: 3em 0 3em 0;
    }

    .call-to-action ul {
        display: flex;
        flex-direction: row;
    }

    .general-stats p {
        font-size: 1.2rem;
    }

    .call-to-action h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .call-to-action li {
        padding: 1.5em;
    }

    /* Main Ends */

    /* Footer Starts */

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-logo {
        margin-left: 1.25rem;
        grid-row: 1 / span 2;
    }

    .footer-nav {
        display: flex;
        align-items: flex-start;
        margin-top: 1.5em;
    }

    .social-media {
        display: flex;
        justify-content: center;
        margin-top: 10.5em;
    }

    .footer-links-heading {
        padding-bottom: 0.625rem;
        padding-top: 2rem;
    }

    .footer-nav-list {
        padding-top: 10px;
        display: flex;
        align-items: flex-start;
    }

    .footer-nav-list li a:hover {
        display: none;
    }

    .footer-social-links {
        justify-content: center;
        margin-left: 1.25rem;
    }

    .footer-social-links a {
        margin-right: 1.25rem;
    }

    /* Footer Ends */

    /* Homepage Ends */

    /* How You Can Help Page Starts */

    /* How You Can Help Page Ends */

    /* About Us Page Starts */

    /* About Us Page Ends */

    /* Blog Page Starts */

    /* Blog Page Ends */

    /* Contact Page Starts */

    /* Main Starts */

    #mail-form {
        display: flex;
        padding: 20px;
    }

    label {
        padding: 0.313rem;
    }

    .wrapper {
        padding-top: 0.5rem;
    }

    .submit {
        margin-top: 10px;
    }

    /* Main Ends */

    /* Contact Page Ends */
}