.lexend {
    font-family: 'Lexend', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.smallText {
    font-size: small;
}

.mediumText {
    font-size: medium;
}

.largeText {
    font-size: large;
}

.headerText {
    font-size: 2vw;
}