/* Colors Used */
$primary-color: #fff;
$secondary-color: #f43e3e;
$button-text-color: #343434;
$text-color: #000;
$heading-color: #e72323;

/* Font Sizes */
$font-size-xs: 0.8rem;
$font-size-xs-1: 0.9rem;
$font-size-xs-2: 1rem;
$font-size-xs-3: 1.1rem;
$font-size-custom: 1.125rem;
$font-size-small: 1.2rem;
$font-size-small-2: 1.25rem;
$font-size-medium: 1.5rem;
$font-size-medium-2: 1.875rem;
$font-size-large: 2rem;
$font-size-large-3: 2.4rem;
$font-size-large-2: 3.125rem;
$font-size-xl: 3.438rem;
$font-size-xl-4: 3.5rem;
$font-size-xl-3: 4.688rem;
$font-size-xl-2: 5rem;